:root {
  --calendar-day-bg: #f7f5ff;
  --calendar-day-border: #d8d2e6;
  --calendar-day-weekend: #fde68a;
  --calendar-day-past: #9ca3af;
  --calendar-day-today-bg: #aa3bff;
  --calendar-day-future: #2f2938;
  /* --calendar-day-not-in-month: #cbd5e1; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --calendar-day-bg: #1f2937;
    --calendar-day-border: #374151;
    --calendar-day-weekend: #7c2d12;
    --calendar-day-past: #9ca3af;
    --calendar-day-today-bg: #c084fc;
    --calendar-day-future: #f3f4f6;
    /* --calendar-day-not-in-month: #4b5563; */
  }
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  /* Found on https://odysseus-dev.github.io/odysseus/ */
  font-family: 'Fira Code', ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
}

#card, #calendar {
  border: 1px solid var(--calendar-day-border);
  border-radius: 0.4rem;
  padding: 0.35rem 0.45rem;
}

#card td {
  border: 1px solid var(--calendar-day-border);
  border-radius: 0.4rem;
  padding: 0.35rem 0.45rem;
}

.calendar-day {
  background-color: var(--calendar-day-bg);
  border: 1px solid var(--calendar-day-border);
  border-radius: 0.4rem;
  color: var(--calendar-day-future);
  padding: 0.35rem 0.45rem;
  cursor: pointer;
}

.calendar-day.weekend {
  background-color: var(--calendar-day-weekend);

  /* dont allow to be overridden by .future */
  color: var(--calendar-day-past) !important;
}

.calendar-day.past {
  color: var(--calendar-day-past);
}
.calendar-day.past:not(.weekend) {
  /* https://stackoverflow.com/a/30377346 */
  background-image: linear-gradient(to bottom right, transparent calc(50% - 1px), red, transparent calc(50% + 1px));
}

.calendar-day.today {
  border: 0.2375rem solid var(--calendar-day-today-bg);
}

.calendar-day.future {
  color: var(--calendar-day-future);
}

.calendar-day.not-in-month {
  visibility: hidden;
}
